body {
    background-color: rgb(255, 255, 255);
  }
  h1 {
    color: rgb(188,49,65); text-align: center; size: 20px;
  }
  p {
    color: rgb(255, 255, 255); 
}
div {background-color: rgb(188, 49, 65);
  margin: 0px; 
  height: 165px;
  width: 100%;
  padding: 0px; 
  position: fixed; 
  top: 0;
  left: 0;
  border-color: black;
  border-width: 1px;
}
.Nav {color: 
  white; 
  text-align: left;
  font-size: 34px; 
  padding-left: 160px;
  font-family: 'Montserrat', bold, sans-serif; 
  font-weight: 650;
  top: 30px;
}
img {
  top: 0;
  position: fixed;
  margin-top: 1;
  padding-top: 33px;
  padding-left: 40px;
  height: 100px; 
}
.github {
 position: fixed; 
 z-index: 10;       
 text-decoration: none;
 color: rgb(255, 255, 255); 
 font-family: 'Merriweather', serif;
 font-weight: lighter;
 font-size: 18px;
 font-style: italic;
 display: inline-block;
 cursor: pointer;
 text-align: right;
 top: 35px;
 right: 270px;
}
.github:hover {
  text-decoration: underline;
}

.wp {
position: fixed;
z-index: 11;
text-decoration: none;
color: white;
top: 35px;
right: 150px;
display: inline-block;
font-size: 18px;
font-family: 'Merriweather', serif;
font-weight: lighter;
font-style: italic;
cursor: pointer;
text-align: right;
}

.wp:hover {
text-decoration: underline;  
}

.sep {
position: fixed;
top: 35px;
right: 150px;
z-index: 10;  
width: 100px;
height: 15px;  
color: rgba(204, 204, 204, 0.2);
font-size: 18px;
}

.gtimg {
position: fixed; 
top: 200px;
left: 0px;
height: 100px;
width: 100px;
}

.w3ss {
position: fixed;  
top: 400px;
height: 100px;
width: 100px;
left: 0px;
}
.codeorg {
 position: fixed; 
 top: 600px;
 height: 100px;
 width: 100px;
 left: 0px;
}
.gtio {
top: 235px;
left: 160px;
position: fixed;
text-align: left;
text-decoration: none;
color: black;
height: 100px;
width: 600px;
text-align: left;
text-decoration: none;
color: black;
display: flex;
background-color: #cccccc25;
cursor: pointer;
align-items: center;
justify-content: center;
transition: background-color 0.3s ease, color 0.3s ease;
font-size: larger;
}

.gtio:hover {
  background-color: rgb(188, 49, 65);
  color: white;
}
.w3s {
  top: 435px;
  position: fixed;
  left: 160px;
  text-align: left;
  text-decoration: none;
  color: black;
  height: 100px;
  width: 600px;
  text-align: left;
  text-decoration: none;
  color: black;
  display: flex;
  background-color: #cccccc30;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: larger;
}
.w3s:hover {
  background-color:  rgb(188, 49, 65);
  color: white;
}

.code {
  position: fixed;
  top: 635px; 
  left: 160px;  
  height: 100px;
  width: 600px;
  text-align: left;
  text-decoration: none;
  color: black;
  display: flex;
  background-color: #cccccc30;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: larger;
}
.code:hover { 
background-color:  rgb(188, 49, 65);
color: white;
}
